.virtual_documents
*~
.ipynb_checkpoints
.gitman
.dir-locals.el
multirun
outputs
optuna_data
.neptune
Vxyz_x=200_y=200_z=200_mu=5_x1=40_iteration=10000-99_100x3x200x200x200_chunked.h5
__pycache__
*#
.venv
snapshot_v*.tar.gz
mlruns
mlflow.db
